<ion-view title="客服中心">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" has-bouncing="true" class="stable-bg">
    <ion-slide-box show-pager="true" does-continue="true" auto-play="true" slide-interval="3000"
                   delegate-handle="slide-box-images" id="call-center-slide">
      <ion-slide ng-repeat="item in banner">
        <img ng-src="{{item.BannerPic}}" alt="{{item.BannerTitle}}" class="full-image"/>
      </ion-slide>

    </ion-slide-box>

    <div class="row row-no-padding  light-bg  main-list">
      <a class="col border-rb" nav-direction=forward ng-href="#/details/0/0"><p class="balanced-bg"><i
        class="icon ion-ios-book-outline"></i></p>
        <span>考试及科目介绍  <i>报名时间 形式</i></span>
      </a>
      <a class="col border-b" nav-direction=forward ng-href="#/details/2/0"><p class="calm-bg"><i
        class="icon ion-ios-flag"></i></p>
        <span>报名进度中心 <i>报名流程、进度</i></span></a>
    </div>
    <div class="row row-no-padding  light-bg main-list ">
      <a nav-direction=forward ng-href="#/butlerlist" class="col border-rb"><p class="energized-bg"><i
        class="icon ion-ios-paperplane"></i></p>
        <span>管家使用指南 <i>使用方法 注意事项</i></span></a>
      <a nav-direction=forward ng-href="#/aftersale" class="col border-b"><p class="energized-bg"><i
        class="icon ion-ios-heart-outline"></i></p>
        <span>申请售后服务 <i>考试订单 培训订单</i></span></a>
    </div>
    <div class="row row-no-padding  light-bg main-list ">
      <a nav-direction=forward ng-href="#/institutionsin" class="col border-r"><p class="royal-bg"><i
        class="icon ion-ios-loop-strong"></i></p>
        <span>培训机构入驻 <i>培训机构 入驻表单</i></span></a>
      <a nav-direction=forward ng-href="" class="col "></a>
    </div>
    <p></p>
    <div class="list ">
      <p class="item item-divider light-bg item-borderless problem-title"><span>猜您遇到了以下问题</span></p>

      <div class="item row problem-content" ng-repeat="item in helpInfoList">
        <a class="col-25 text-center ">
          <i class="icon ion-ios-help-outline"></i><br>
          {{item.HelpType}}
        </a>
        <div class="col-75">
          <a ng-repeat="items in item.HelpList" ng-href="#/details/0/{{items.AutoHelpID}}" class="border-b nowrap">{{items.HelpTitle}}</a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>


