<ion-view title="签到">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" id="signin" class="stable-bg">

    <ion-list>
      <ion-item class="item-avatar-left item-energized light header">
        <img ng-src="{{signinInfo.headImg||'img/head.jpg'}}" onerror="this.src='img/head.jpg'" alt="头像"/>
        <p style="color: #fff;">我的积分: <span style="font-size: 1.5rem;">{{signinInfo.SignALLNum}}</span> 个</p>
        <div ng-if="signinInfo.DaysNum" class="qian-dao-btn" ng-click="qianDao()"><p>已签到</p>
          <p><strong style="font-size: 1.2rem;">{{signinInfo.DaysNum}}</strong>天</p></div>
        <div ng-if="!signinInfo.DaysNum" class="qian-dao-btn" ng-click="qianDao()"><p
          style="font-size: 0.8rem!important;">
          签到领积分</p>
        </div>
      </ion-item>
      <marquee id="affiche" align="left" behavior="scroll" bgcolor="#fff" direction="up" height="46" width="100%"
               hspace="0"
               vspace="0" loop="-1" scrollamount="2" scrolldelay="0" onMouseOut="this.start()"
               onMouseOver="this.stop()">
        <a ng-repeat="item in signinHead" href="{{item.NewsUrl}}" class="item item-icon-left item-borderless text-wrap">
          <i class="icon iconfont icon-notification" style="font-size: 1.5rem;color: #f26604;"></i>
          {{item.NewsTitle}}
        </a>
        <a ng-repeat="item in signinHongbao" class="item item-icon-left item-borderless text-wrap">
          <i class="icon iconfont icon-notification" style="font-size: 1.5rem;color: #f26604;"></i>
          {{item.ItemName}}
        </a>
      </marquee>
      <p></p>
      <ion-item class="item-divider light-bg energized text-center">
        <i class="icon iconfont icon-favor" style="color: #f26604"></i> 签到 好礼相送
      </ion-item>
      <!--      <img ui-sref="activitydetails" ng-src="img/signin/sign-goods.png" class="full-image" alt="签到商品图片">-->
      <ion-item ui-sref="activitydetails({content:item.AdvertisingContent})" class="item-avatar-left item-icon-right"
                ng-repeat="item in adList">
        <img ng-src="{{item.AdPicture}}" alt="活动">
        <h2>{{item.AdvertisingName}}</h2>
        <p ng-bind-html="item.AdvertisingContent"></p>
        <i class="icon ion-ios-arrow-right grey"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


