<ion-list>
  <ion-item class="text-center item-energized item-divider " style="border-radius: 1.8rem">
    今日已签到
  </ion-item>
  <ion-item class="item-borderless item-light item-divider " >
    <p>今日已翻1张牌</p>
  </ion-item>
  <div class="row row-center row-wrap text-center light-bg select-category padding-top">
    <div ng-click="checkChecded()" class="col-33">
      <input type="checkbox" id="a" checked>
      <label for="a"><i
        class="iconfont icon-appreciate"></i>
        <span></span>
        <p style="font-size:85%;">获得积分</p>
      </label>
    </div>
    <div ng-click="checkChecded()" class="col-33">
      <input type="checkbox" id="b">
      <label for="b"><i
        class="iconfont icon-emoji"></i>
        <span></span>
        <p style="font-size:85%;">谢谢参与</p>
      </label>
    </div>
    <div ng-click="checkChecded()" class="col-33">
      <input type="checkbox" id="c">
      <label for="c"><i
        class="iconfont icon-emoji"></i>
        <span></span>
        <p style="font-size:85%;">谢谢参与</p>
      </label>
    </div>
    <div ng-click="checkChecded()" class="col-33">
      <input type="checkbox" id="d">
      <label for="d"><i
        class="iconfont icon-emoji"></i>
        <span></span>
        <p style="font-size:85%;">谢谢参与</p>
      </label>
    </div>
    <div ng-click="checkChecded()" class="col-33">
      <input type="checkbox" id="e">
      <label for="e"><i
        class="iconfont icon-emoji"></i>
        <span></span>
        <p style="font-size:85%;">谢谢参与</p>
      </label>
    </div>
    <div ng-click="checkChecded()" class="col-33">
      <input type="checkbox" id="f">
      <label for="f"><i
        class="iconfont icon-emoji"></i>
        <span></span>
        <p style="font-size:85%;">谢谢参与</p>
      </label>
    </div>

  </div>
</ion-list>




