<ion-view title="签到">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" id="signin" class="stable-bg">

    <ion-list>
      <ion-item class="item-avatar-left item-energized light header">
        <img ng-src="img/head.jpg" alt="头像">
        <p style="color: #fff;">我的积分: <span style="font-size: 1.5rem;">144</span> 个</p>
        <div class="qian-dao-btn" ng-click="qianDao()"><p>已连续签到</p>
          <p><strong style="font-size: 1.2rem;">5</strong>天</p></div>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon iconfont icon-notification" style="font-size: 1.5rem;color: #f26604;"></i>
        签到小报新闻
      </ion-item>
      <p></p>
      <ion-item class="item-divider light-bg energized text-center">
        <i class="icon iconfont icon-favor" style="color: #f26604"></i> 签到 好礼相送
      </ion-item>
      <img ui-sref="signindetails" ng-src="img/signin/sign-goods.png" class="full-image" alt="签到商品图片">


    </ion-list>
  </ion-content>
</ion-view>


