<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" nav-direction=back ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title ">班级对比</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="parametersdetails()">详情对比</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" id="comparedetails">
    <div class="row row-horizontal-around row-no-padding row-center  text-center light-bg compare-header">
      <div class="col-45 card">
        <img ng-src="{{detailInfo.OrganLog1}}" alt="图片">
        <h4>{{detailInfo.ClassName1}}</h4>
        <p class="grey nowrap">{{detailInfo.OrganName1}}</p>
      </div>
      <h3>PK</h3>
      <div class="col-45 card">
        <img ng-src="{{detailInfo.OrganLog2}}" alt="图片">
        <h4>{{detailInfo.ClassName2}}</h4>
        <p class="grey nowrap">{{detailInfo.OrganName2}}</p>
      </div>

    </div>
    <h5 class="text-center">报名费用</h5>
    <div class="row row-horizontal-around row-no-padding row-center  text-center light-bg compare-price">
      <div class="col-50 ">
        <div class="circle first">
          <h5>报名费</h5>
          <h4>{{detailInfo.ClassMoney1}}</h4>
          <!--          <p class="nowrap">减现后15.91万</p>-->
        </div>
        <div class="list kao-ba">
          <div class="item item-divider">{{detailInfo.ClassName1}}考霸</div>
          <div class="item item-avatar-left item-icon-right" ng-repeat="item in masterInfo1">
            <img ng-src="{{item.UserIcon}}" alt="头像">
            <h2 class="padding-top"> {{item.Name}}</h2>
            <i class="icon iconfont  icon-add  " ng-click="attentio(item.MasterId)"></i>
          </div>
        </div>

        <!--        <button class="button button-energized">询底价</button>-->
      </div>

      <div class="col-50 ">
        <div class="circle last">
          <h5>报名费</h5>
          <h4>{{detailInfo.ClassMoney2}}</h4>
          <!--          <p class="nowrap">减现后16.60万</p>-->
        </div>
        <div class="list kao-ba">
          <div class="item item-divider">{{detailInfo.ClassName2}}考霸</div>
          <div class="item item-avatar-left item-icon-right " ng-repeat="item in masterInfo2">
            <img ng-src="{{item.UserIcon}}" alt="头像">
            <h2 class="padding-top"> {{item.Name}}</h2>
            <i class="icon iconfont  icon-add  " ng-click="attentio(item.MasterId)"></i>
          </div>
        </div>
      </div>
      <!--        <button class="button button-energized">询底价</button>-->
    </div>
    <div class="padding ">
     <p class="grey text-center">点击+关注考霸后，报名本培训班即可获得减现优惠</p>
    </div>
    </div>
    </div>
  </ion-content>

</ion-view>


