/* Empty. Add your own CSS if you like */
/* 网格布局row水平方向居中*/
.row-horizontal-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/* 网格布局row水平方向均匀分布左右留有距离*/
.row-horizontal-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.row-horizontal-start {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.row-horizontal-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.row-horizontal-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list .item:first-child {
  border: none;
}

.list .item:last-child {
  border-bottom: none;
}

.item {
  border-color: rgba(221, 221, 221, 0.3) !important;
}

.grey {
  color: #aaa !important;
}

.grey-bg {
  background-color: #aaa !important;;
}

a {
  text-decoration: none;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottom-0 {
  position: fixed;
  width: 100%;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 20px #ddd;
  box-shadow: 0px 0px 20px #ddd
}

.bottom-0 .button {
  padding: 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem !important;
}

.bottom-0 .button.icon:before, .bottom-0 .button.iconfont:before {
  font-size: 1.2rem !important;
}

.has-button-footer {
  bottom: 67px;
}

#call-center-slide.slider, #call-center-slide.slider img {
  height: 8rem !important;
}

.slider-pager-page {
  position: relative;
  z-index: 1000;
  bottom: -0.8rem;
  font-size: 0.5rem !important;
}

.slider-pager-page.active {
  color: #f26604 !important;
}

.main-list {
  margin-top: 0rem !important;
}

.main-list a {
  height: 4.5rem;
  text-decoration: none;
}

.main-list .col > p {
  display: inline-block;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  line-height: 1.8rem;

}

.main-list .col p > i {
  color: #ffffff;
  font-size: 1.1rem;
}

.main-list .col > span {
  padding-left: 0.3rem;
  color: #000000;

}

.main-list .col > span > i {
  margin-top: -0.8rem;
  padding-left: 3.2rem;
  display: block;
  color: #aaaaaa;
  font-size: 0.7rem;
}

.problem-title span {
  font-size: 0.8rem !important;
  color: #aaaaaa !important;
  border-left: 3px solid #f26604;
  margin-left: -0.6rem;
  padding-left: 0.6rem;
}

.problem-content {
  margin-top: 0 !important;
  padding: 0 !important;
  height: 6.6rem;
}

.problem-content a.col-25 {
  height: 6.6rem;
  border-right: 1px solid rgba(221, 221, 221, 0.3);
  font-size: 0.8rem;
}

.problem-content a.col-25 i {
  position: relative;
  top: 1.5rem;
  font-size: 2.5rem;
  color: #f26604 !important;
}

.problem-content a {
  display: block;
  color: #000000;
  height: 3.3rem;
  line-height: 3.3rem;
  font-size: 0.9rem;
}

.problem-content .col-75 {
  padding-left: 0.5rem;
}

.border-rb {
  border-right: 1px solid rgba(221, 221, 221, 0.3);
  border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.border-r {
  border-right: 1px solid rgba(221, 221, 221, 0.3);
}

.border-b {
  border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.video {
  height: 12rem;
}

/*修改覆盖弹出框默认样式*/
.show-alert .popup, .show-confirm .popup {
  text-align: center !important;
}

/*loading加载框背景*/
.loading-container .loading {
  width: 4.5rem;
  height: 4.5rem;
  padding: 20px 5px;
  /*  background-color: rgba(0, 0, 0, 0);*/
}

.loading-container .loading span {
  display: inline-block;
  margin-top: 0.2rem;
}

.isNotDataHint {
  width: 100%;
  height: 100%;
  color: rgba(128, 128, 128, 0.6);
  padding-top: 40%;
  text-align: center;
}

.isNotDataHint i, .isNotDataHint .iconfont {
  font-size: 5rem !important;
}

.isNotDataHint p {
  margin-top: 1rem;
}

.item-thumbnail-left {
  padding-bottom: 0
}

.iconfont {
  color: #585858;
}

.bar-energized {
  /*  background-color: transparent;*/
  /* background-image: none !important;*/
}

/* 去掉时候点击按钮灰色边框颜色*/
.button.active, .button.activated {
  border-color: transparent !important;
  background-color: #e5e5e5;
}

/*修改覆盖弹出框默认样式*/

.show-alert .popup, .show-confirm .popup {
  text-align: center;
  background-color: #fff !important;
  border-radius: 0.5rem;
}

.show-alert .popup .popup-head, .show-confirm .popup .popup-head {
  border: none;
  padding: 8px;
  color: #585858 !important;
}

.show-alert .popup .popup-title, .show-confirm .popup .popup-title {
  color: #585858 !important;
}

/*.show-alert .popup .popup-body, .show-confirm .popup .popup-body,  {

}*/

.show-alert .popup .popup-buttons, .show-confirm .popup .popup-buttons {
  min-height: 2.6rem !important;
  padding: 0;
  border-top: 1px solid rgba(221, 221, 221, 0.3) !important;

}

.show-alert .button, .show-confirm .button {
  margin: 0;
  padding: 0;
  bottom: 0;
  height: 2.6rem !important;
  min-height: 2.6rem !important;
  background-color: #ffffff;
  color: #00ACFF !important;
}

.show-alert .button:first-child, .show-confirm .button:first-child {
  color: #f26604 !important;
  border-bottom-left-radius: 0.5rem;
}

.show-alert .button:last-child, .show-confirm .button:last-child {
  border-bottom-right-radius: 0.5rem;
}

.show-alert .button:nth-child(2), .show-confirm .button:nth-child(2) {
  color: #00ACFF !important;
  border-left: 1px solid rgba(221, 221, 221, 0.3);

}

.city .item, .city .item-divider {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  width: 95%;
}

#indexs-title {
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  color: #FFF;
  font-size: 300%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#indexs-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-top: 15px;
  width: 20px;
  height: 464px;
  z-index: 2;
  text-align: center;
  color: #545454;
  background-color: #fff;

}

.select-category label {
  position: relative;
  display: inline-block;;
  margin-bottom: 0.5rem;
  width: 90%;
  height: 4.5rem;
}

.select-category .iconfont {
  font-size: 1.8rem !important;
  color: #585858;
}

.select-category label span {
  opacity: 0;
  color: #fff !important;
}

.select-category label span:before {
  content: '已选';
  position: absolute;
  color: #fff !important;
  font-size: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  top: 4px;
  z-index: 2000;
}

.select-category label span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1.6rem solid #f26604;
  border-left: 1.6rem solid transparent;
  right: -1px;
  top: -1px;
}

.select-category input {
  display: none;
}

.select-category input:checked + label > span {
  opacity: 1;
}

.select-category input:checked + label > p {
  /*  color: #f26604 !important;*/
}

.select-category input + label {
  border: 1px solid rgba(221, 221, 221, 0.3);
}

.select-category input:checked + label {
  border: 1px solid #f26604;
}


#index div {
  position: relative;
  top: 30%!important;
}

#signin .header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#signin .header img {
  max-width: 50px;
  max-height: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#signin .qian-dao-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 0 5px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 0 rgba(255, 255, 255, 0.8);
  right: 0.8rem;
  background-color: #fff;
  padding: 0.2em 1.3rem;
  border-radius: 1.6rem;
  text-align: center;
  cursor: pointer;

}

#signin .qian-dao-btn p {
  margin: 0;
  font-size: 0.7rem !important;
  color: #f26604;
}

#signin .qian-dao-btn:hover, #signin .qian-dao-btn:active {
  /*  box-shadow: 0 0px 0 #fff;
    background-color: #f26604;*/
}

.tool-tip {
  position: fixed;
  z-index: 10000;
  top: 55px;
  width: 100%;
  text-align: center;
  animation: tooltipmessage 3s;
  -moz-animation: tooltipmessage 3s; /* Firefox */
  -webkit-animation: tooltipmessage 3s; /* Safari 和 Chrome */
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

}

.tool-tip-message {
  background-color: #ef473a;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1.2rem;
  box-shadow: 1px 1px 2px rgba(136, 136, 136, 0.5);
}

.tool-tip-message-success {
  background-color: #f26604;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1.2rem;
  box-shadow: 1px 1px 2px rgba(136, 136, 136, 0.5);
}

@-webkit-keyframes tooltipmessage {
  0% {
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
  }
  10% {
    -webkit-transform: translate(0, 0em);
    transform: translate(0, 0em);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(0, 0em);
    transform: translate(0, 0em);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
    opacity: 0;
  }
}

@keyframes tooltipmessage {
  0% {
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
  }
  10% {
    -webkit-transform: translate(0, 0em);
    transform: translate(0, 0em);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(0, 0em);
    transform: translate(0, 0em);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
    opacity: 0;
  }
}
